In [3]:
import pyspark
from pyspark.sql import SparkSession
app_name = "accidentes"
master = "local[*]"
spark = (SparkSession.builder
    .master(master)
    .config("spark.driver.cores", 1)
    .appName(app_name)
    .getOrCreate() )
sc = spark.sparkContext
print ('SparkContext created')

SparkContext created

In [4]:
import os
# Para establecer variables de entorno: %set_env SPARK_DATA=/home/jovyan/data
fname = os.path.join(
                os.environ['SPARK_DATA'],'movielens/movies.csv')
movies = spark.read.csv(fname, header=True, mode="DROPMALFORMED")
type (movies)

pyspark.sql.dataframe.DataFrame

In [5]:
type (movies.first())

pyspark.sql.types.Row

In [6]:
movies

DataFrame[movieId: string, title: string, genres: string]

In [7]:
movies.count()

9125

In [8]:
movies.columns

['movieId', 'title', 'genres']

In [9]:
movies.show(3)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
+-------+--------------------+--------------------+
only showing top 3 rows

In [10]:
movies.select('movieId', movies.genres).show(2)

+-------+--------------------+
|movieId|              genres|
+-------+--------------------+
|      1|Adventure|Animati...|
|      2|Adventure|Childre...|
+-------+--------------------+
only showing top 2 rows

In [11]:
movies.createOrReplaceTempView('pelis')
movies2 = spark.sql ("\
                SELECT * \
                FROM pelis \
                WHERE movieId > 10 and \
                      movieId < 20 \
                ")
movies2.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
+-------+--------------------+--------------------+