In [ ]:
import pyspark
from pyspark.sql import SparkSession
app_name = "accidentes"
master = "local[*]"
spark = (SparkSession.builder
    .master(master)
    .config("spark.driver.cores", 1)
    .appName(app_name)
    .getOrCreate() )
sc = spark.sparkContext
print ('SparkContext created')

In [ ]:
import os
%set_env SPARK_DATA=/home/jovyan/data
fname = os.path.join(
                os.environ['SPARK_DATA'],'movielens/movies.csv')
movies = spark.read.csv(fname, header=True, mode="DROPMALFORMED")
type (movies)

In [ ]:
type (movies.first())

In [ ]:
movies

In [ ]:
movies.count()

In [ ]:
movies.columns

In [ ]:
movies.show(3)

In [ ]:
movies.select('movieId', movies.genres).show(2)

In [ ]:
movies.createOrReplaceTempView('movies')
movies2 = spark.sql ("\
                SELECT * \
                FROM movies \
                WHERE movieId > 10 and \
                      movieId < 20 \
                ")
movies2.show()