In [1]:
import pyspark
from pyspark.sql import SparkSession
app_name = "accidentes"
master = "local[*]"
spark = (SparkSession.builder
    .master(master)
    .config("spark.driver.cores", 1)
    .appName(app_name)
    .getOrCreate() )
sc = spark.sparkContext
print ('SparkContext created')

SparkContext created

In [2]:
import os
fname = os.path.join(
                os.environ['SPARK_DATA'],'movielens/movies.csv')
movies = spark.read.csv(fname, header=True, mode="DROPMALFORMED")

In [3]:
type (movies.rdd)

pyspark.rdd.RDD

In [4]:
type (movies.rdd.first())

pyspark.sql.types.Row

In [5]:
other = sc.parallelize (['a','b'])
type (other.first())

str

In [6]:
movies.createOrReplaceTempView('movies')
movies2 = spark.sql ("\
                     SELECT movieId \
                     FROM movies \
                     ")
type (movies2.first())

pyspark.sql.types.Row

In [7]:
movies.show(2)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

In [8]:
movies.rdd.map (
    lambda row: (row['movieId'], row[2].split('|'))
                ).first()

('1', ['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy'])

In [9]:
row = movies.rdd.first()
(row['movieId'], row[2].split('|'))

('1', ['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy'])

In [10]:
row['title']

'Toy Story (1995)'